button.load {
    width: 64px;
    height: 64px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding-top: 0px;
    padding-bottom: 0px;

    img.dot {
        grid-column: 2;
        grid-row: 1;
        width: 8px;
        margin-top: 6px;
        margin-right: 0px;
        justify-self: right;
        filter: invert(65%) sepia(48%) saturate(735%) hue-rotate(168deg) brightness(102%) contrast(102%);
        opacity: 25%;
    }

    img.dot.auto {
        opacity: 90%;
    }

    p {
        grid-column: 1/3;
        grid-row: 1/3;
        align-self: center;
        width: 100%;
        color: $faded-blue;
    }
}

button.load:hover:enabled {
    cursor: pointer;
}

button.load:disabled {
    p {
        color: $black;
    }

    img.dot {
        opacity: 20%;
    }
}

:host(.highlight) {
    p {
        color: $bright-blue;
    }    
}
