@charset "UTF-8";

$white: #c0c0c0ff;
$black: #222222;
$darkgray: #22222280;
$faded-blue: #4eccff80;
$normal-blue: #4eccffc0;
$bright-blue: #4eccff;
$dark-blue: #2e475f;
$red: #ca0000;

$azure: #0080fe;
$shamrock: #009e60;
$green: #3bc403;
$orange: #ffb300;
$bright-slate-gray: #8498b0;